[submodule "vim/vim.config/pack/plugins/start/surround"]
	path = vim/vim.config/pack/plugins/start/surround
	url = https://tpope.io/vim/surround.git
[submodule "vim/vim.config/pack/plugins/start/repeat"]
	path = vim/vim.config/pack/plugins/start/repeat
	url = https://tpope.io/vim/repeat.git
[submodule "zsh/base16"]
	path = zsh/base16
	url = https://github.com/chriskempson/base16-shell.git
[submodule "vim/vim.config/pack/themes/opt/base16"]
	path = vim/vim.config/pack/themes/opt/base16
	url = git://github.com/chriskempson/base16-vim.git
