[submodule "vim/vim.config/pack/plugins/start/surround"]
	path = vim/vim.config/pack/plugins/start/surround
	url = https://tpope.io/vim/surround.git
[submodule "vim/vim.config/pack/plugins/start/repeat"]
	path = vim/vim.config/pack/plugins/start/repeat
	url = https://tpope.io/vim/repeat.git
[submodule "vim/vim.config/pack/themes/opt/solarized8"]
	path = vim/vim.config/pack/themes/opt/solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
